/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */

  --clr-interactive-text: #fff;
  --clr-body: #17171f;
  --clr-selected-text: #a3a3ff;
  --clr-theme: 240 100% 62%;
  --clr-nav: #404053;
  --clr-secondary: #9191a4;
  --clr-badge: #3f3f51;
  --clr-input-border: #565666;
  --clr-input: #2a2a35;

  --clr-html-icon: #e34c26;
  --clr-css-icon: #264de4;
  --clr-js-icon: #f0db4f;
  --clr-react-icon: #61dbfb;
  --clr-typescript-icon: #007acc;
  --clr-git-icon: #f34f29;
  --clr-linkedin-icon: #0072b1;
  --clr-github-icon: #000;
  --clr-mail-icon: #db4437;

  --mobile-menu-arrow: "M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z";
}

/* ------------------- */
/* Reset               */
/* ------------------- */

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.container {
  max-width: 70em;
  margin-inline: auto;
}

/* ------------------- */
/* General styles      */
/* ------------------- */

body {
  margin: 0;
  background-color: var(--clr-body);
  color: var(--clr-interactive-text);
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

section {
  padding-inline: 2em;
  margin-bottom: 6em;
}

.subtitle,
.section-paragraph {
  color: var(--clr-secondary);
}

.subtitle {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.section-paragraph {
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 3em;
}

.button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  border: none;
  text-decoration: none;
}

.theme-btn {
  background-color: hsl(var(--clr-theme));
  font-weight: 700;
  padding: 0.5em 1.5em;
}

.theme-btn:hover,
.theme-btn:focus {
  background-color: hsl(var(--clr-theme) / 0.75);
}

.secondary-title {
  font-size: 1.875rem;
  margin-bottom: 1.5em;
  padding-top: 4.7em;
  margin-top: -4.7em;
}

.secondary-title::before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.5rem;
  background-color: hsl(var(--clr-theme));
  border-radius: 20px;
}

.thankyou {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

/* ------------------- */
/* Header              */
/* ------------------- */

header {
  padding: 1em 2em;
  background-color: var(--clr-body);
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 0px 28px 0px hsl(var(--clr-theme) / 0.75);
}

.header__content {
  max-width: 60em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.125rem;
  font-weight: 700;
}

.nav-top {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-nav);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  padding: 4em 1em;
  font-size: 2rem;
  font-weight: 600;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.nav-top__item {
  color: inherit;
  text-decoration: none;
}

.nav-top__item:hover,
.nav-top__item:focus {
  color: var(--clr-selected-text);
}

.nav-toggle {
  padding: 0.5em 0;
  background-color: transparent;
  border: none;
  z-index: 2;
  position: absolute;
  top: 1.5em;
  right: 2em;
}

.nav-top-open .nav-top {
  transform: translate(0);
}

.nav-top-open .nav-toggle {
  position: fixed;
}

.nav-top-open .menu-hamburger {
  transform: rotate(45deg);
}

.nav-top-open .menu-hamburger::before {
  transform: rotate(90deg) translateX(0.4em);
  width: 2em;
}

.nav-top-open .menu-hamburger::after {
  opacity: 0;
}

.menu-hamburger {
  display: block;
  position: relative;
  width: 2em;
}

.menu-hamburger,
.menu-hamburger::before,
.menu-hamburger::after {
  background-color: var(--clr-interactive-text);
  height: 3px;
  border-radius: 1em;
  transition: all 0.3s ease-in-out;
}

.menu-hamburger::before,
.menu-hamburger::after {
  content: "";
  position: absolute;
  width: 55%;
}

.menu-hamburger::before {
  bottom: 0.4em;
  right: 0;
}

.menu-hamburger::after {
  top: 0.4em;
  left: 0;
}

@media (min-width: 797px) {
  header {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }

  .nav-top {
    transform: translate(0);
    flex-direction: row;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    background-color: var(--clr-body);
    padding: 0;
    gap: 0;
  }

  .nav-top__item {
    margin-left: 3em;
  }

  .nav-top .home {
    color: var(--clr-selected-text);
  }

  .nav-top__item:not(:last-child):hover,
  .nav-top__item:not(:last-child):focus {
    color: var(--clr-secondary);
  }

  .nav-top__hire {
    background-color: hsl(var(--clr-theme));
    font-weight: 700;
    padding: 0.5em 1.5em;
  }

  .nav-top__hire:hover,
  .nav-top__hire:focus {
    background-color: hsl(var(--clr-theme) / 0.75);
    color: inherit;
  }

  .nav-toggle {
    display: none;
  }
}

@media (min-width: 1024px) {
  header {
    padding-left: 6em;
    padding-right: 6em;
  }
}

/* ------------------- */
/* Hero                */
/* ------------------- */

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 0.6rem;
  width: 100%;
  bottom: 12px;
  left: 0;
  background-color: hsl(var(--clr-theme));
  border-radius: 2px;
}

.hero__subtitle {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.hero__btn {
  margin-bottom: 2em;
  padding: 1em 2em;
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
}

.hero__btn-icon {
  margin-right: 0.7em;
}

.desktop-photo {
  display: none;
}

.photo {
  --transform-speed: 250ms;
  display: block;
  position: relative;
  max-width: 20rem;
  margin-inline: auto;
}

.photo__container {
  aspect-ratio: 1 / 1.1;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) ease-in-out;
}

.photo__container:hover {
  transform: scale(1.1);
}

.photo__circle {
  display: block;
  position: absolute;
  inset: auto 0 0;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
}

.photo__photo {
  display: block;
  position: relative;
  transform: scale(1.1);
  transition: transform 350ms ease-in-out;
}

.photo__container:hover .photo__photo {
  transform: scale(1.1) translateY(-0.7rem);
}

@media (min-width: 797px) {
  .hero {
    min-height: 80vh;
  }

  .hero__content {
    display: flex;
    justify-content: space-between;
  }

  .hero__description {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero__btn {
    margin-bottom: 0;
  }

  .desktop-photo {
    display: block;
  }
}

/* ------------------- */
/* Technologies        */
/* ------------------- */

.tech-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25em, 1fr));
  grid-gap: 1em;
}

/* ------------------- */
/* My work             */
/* ------------------- */

.portfolio__item {
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0.2px hsl(var(--clr-theme));
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.portfolio__images {
  position: relative;
  display: inline-block;
}

.portfolio__img-desktop {
  object-fit: cover;
}

.portfolio__img-mobile {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: 1.1em;
}

.portfolio__stack-icons {
  font-size: 1.2rem;
}

.react-icon {
  color: var(--clr-react-icon);
}

.portfolio__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.portfolio__description {
  color: var(--clr-selected-text);
  margin-bottom: 1em;
}

.portfolio__buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.portfolio__btn {
  border-radius: 20px;
  font-size: 0.85rem;
}

.portfolio__btn-icon {
  margin-right: 0.25em;
}

@media (min-width: 797px) {
  .portfolio__item {
    padding: 2em;
    flex-direction: row;
    gap: 2em;
  }

  .portfolio__images-container {
    display: flex;
    align-items: center;
  }

  .portfolio__images {
    width: 400px;
  }

  .portfolio__subtitle {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .portfolio__item {
    gap: 3em;
  }
  .portfolio__images {
    width: 500px;
  }
}

/* ------------------- */
/* About me            */
/* ------------------- */
.about__content {
  display: flex;
  flex-direction: column;
}

.skills {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: var(--clr-selected-text);
}

.devicon-html5-plain:hover,
.devicon-html5-plain:focus {
  color: var(--clr-html-icon);
}
.devicon-css3-plain:hover,
.devicon-css3-plain:focus {
  color: var(--clr-css-icon);
}
.devicon-javascript-plain:hover,
.devicon-javascript-plain:focus {
  color: var(--clr-js-icon);
}
.devicon-react-original:hover,
.devicon-react-original:focus {
  color: var(--clr-react-icon);
}
.devicon-typescript-plain:hover,
.devicon-typescript-plain:focus {
  color: var(--clr-typescript-icon);
}
.devicon-git-plain:hover,
.devicon-git-plain:focus {
  color: var(--clr-git-icon);
}

.resume__btn {
  display: inline-flex;
}

.resume__btn-icon {
  margin-right: 0.4em;
}

@media (min-width: 797px) {
  .about__content {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4em;
  }

  .about__description {
    min-width: 500px;
    max-width: 580px;
  }

  .skills {
    font-size: 3em;
    margin: 0;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .mobile-photo {
    display: none;
  }
}

/* ------------------- */
/* Hire me             */
/* ------------------- */

.form__item {
  margin-bottom: 3em;
}

.form__label {
  display: block;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.form__input {
  width: 100%;
  border: 1px solid var(--clr-input-border);
  background-color: var(--clr-input);
  padding: 1em;
}

.form__message-input {
  height: 14em;
  resize: none;
}

@media (min-width: 797px) {
  .hire__content {
    display: flex;
    gap: 2em;
  }

  .hire__paragraph {
    flex-basis: 50%;
  }

  .form {
    max-width: 600px;
    flex-basis: 50%;
  }
}

/* ------------------- */
/* Footer              */
/* ------------------- */

footer {
  background-color: var(--clr-input);
  color: var(--clr-secondary);
  text-align: center;
}

.footer__icons {
  padding: 1.5em 0;
}

.footer__icon {
  margin-inline: 0.3em;
  font-size: 2rem;
  cursor: pointer;
}

.footer__linkedin-icon:hover {
  color: var(--clr-linkedin-icon);
}

.footer__github-icon:hover {
  color: var(--clr-github-icon);
}

.footer__mail-icon:hover {
  color: var(--clr-mail-icon);
}

.footer__p {
  font-size: 0.8rem;
}

ion-icon {
  color: blue;
}
